@CHARSET "utf-8";
/* Styles used by Ext.ux.form.ItemSelector */
.x-form-multiselect-body .x-boundlist .x-mask {
	background: none;
}

.x-form-itemselector-body .x-form-item {
	margin: 0;
}

.x-form-itemselector-top {
	background-image: url(../../images/selector/top2.gif);
}

.x-form-itemselector-up {
	background-image: url(../../images/selector/up2.gif);
}

.x-form-itemselector-add {
	background-image: url(../../images/selector/right2.gif);
}

.x-form-itemselector-remove {
	background-image: url(../../images/selector/left2.gif);
}

.x-form-itemselector-down {
	background-image: url(../../images/selector/down2.gif);
}

.x-form-itemselector-bottom {
	background-image: url(../../images/selector/bottom2.gif);
}